<div style="text-align:center" *ngIf="!loggedin">
  <div class='loginbox'> 
    <label >
      Login:
    </label>
    <div>
        <input type="text" placeholder='Email Id' [(ngModel)]="email">
    </div>
    <div>
        <input type="password" placeholder='Password' [(ngModel)]="password">
    </div>

    <div>
        <button (click)="login()">Login</button>
    </div>
  </div> 
    
  </div>
  <div *ngIf="loggedin">
    <nav class="navlinks">
      <a routerLink="home" routerLinkActive="active">Orders</a>
      <a routerLink="dpersons">Delivery Persons</a>
      <a routerLink="orders">Dashboard</a>
    </nav>

  <router-outlet></router-outlet>
  </div>