<div class='homelayout'>
    <div class='searchfield row'>
            <div class='col-3'>
                    <label>Contact Number: </label>
                    <input type="text" id="myInputcontact" #inputstring (keyup.enter)="searchcontact(inputstring.value)" placeholder="Search..">           
            </div>
            <div class='col-3'>
                    <label>Order Number: </label>
                    <input type="text" id="myInputorder" #inputstring (keyup.enter)="searchorder(inputstring.value)" placeholder="Search..">           
            </div>
            <div class='col-3'>
                    <label>Status: </label>
                    <input type="text" id="myInputstatus" #inputstring (keyup.enter)="searchstatus(inputstring.value)" placeholder="Search..">           
            </div>
        <div class='col-3'>
            <button class='refresh' (click)="refreshdata()">Refresh</button>
            <button class='save' (click)="savedata()">SAVE</button>
        </div>
    </div>
              
        <div class="layout row">
            <div class="container col-8" >      
                <table id="ordertable" class="table">
                    <thead >
                    <tr>
                        <th style="width: 2%">-</th>
                        <th>Item ID</th>
                        <th>Order Date</th>
                        <th>Contact number</th>
                        <th>Address</th>
                        <th>Restaurant ID</th>
                        <th>Packaging (Rs)</th>
                        <th>Delivery (Rs)</th>
                        <th>Cart Amount(Rs)</th>
                        <th>Total(Rs)</th>
                        <th>Assign</th>
                        <th>Staus</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  (click)="selectorder(item.orderid,$event)" *ngFor="let item of myorders; let i = index" [ngClass] = "{'highlighted' : item.orderid == selectedName}">
                        <td style="width: 2%">{{i+1}}.</td>
                        <td><a>{{item.orderid}}</a></td>
                        <td>{{item.orderdate}}</td>
                        <td>{{item.contactnumber}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.restaurantid}}</td>
                        <td>{{item.packagingcharge}}</td>
                        <td>{{item.deliverycharge}}</td>
                        <td>{{item.totalcartamount}}</td>
                        <td>{{item.totalcartamount+item.deliverycharge+item.packagingcharge}}</td>
                        <td>
                            <div>                                                                      
                                <select   (change)="selectuser(i,$event.target)" >
                                    <option value='None'>None</option>
                                    <option *ngFor="let user of users; let i = index"  title={{user.username}}-{{user.contactnum}} value={{user.username}} [attr.selected]="user.username == item.assigneduser ? true : null">{{user.username}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div >                                
                                <select  (change)="selectorderstatus(i,$event.target)">                                     
                                        <option *ngFor="let status of statusArray; let i = index"  title={{status}} value={{status}} [attr.selected]="status == item.orderstatus ? true : null">{{status}}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="details col-4" >           
                <table class="table">
                    <thead>
                    <tr>
                        <th>OrderId</th>
                        <th>Ordertype</th>
                        <th>cost</th>
                        <th>name</th>
                        <th>quantity</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr *ngFor="let item of gorderdetails; let i = index">
                        <td>{{item.OrderId}}</td>
                        <td>{{item.Ordertype}}</td>
                        <td>{{item.cost}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.quantity}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ng4-loading-spinner></ng4-loading-spinner>       
</div>